@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
	--target-radius: 32px;

	--text-font-mono: "Courier Prime", monospace;
	--text-font-sans:
		InterVariable, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji";
}

html {
	background-color: #1f3030;
	height: 100%;
	line-height: 1.25em;

	color: antiquewhite;
	font-family: var(--text-font-mono);
	font-weight: 400;
	font-style: normal;
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

progress::-webkit-progress-bar {
	background-color: #1f3030;
}

progress::-webkit-progress-value {
	background-color: antiquewhite;
}

#root {
	width: 100%;
	height: 100%;
	overflow: hidden;

	display: flex;
	flex-direction: row;
}

.container {
	flex: 1;
	height: 100%;
}

#error {
	margin: 1em;
}

canvas {
	background-color: #6f9090;
	width: 100%;
	height: 100%;
}

#target {
	z-index: 1;
	position: absolute;
	word-break: break-word;
}

#target .corner {
	margin-top: calc(0px - var(--target-radius));
	margin-left: calc(0px - var(--target-radius));
	width: calc(2 * var(--target-radius) - 2px);
	height: calc(2 * var(--target-radius) - 2px);
	border: 1px solid antiquewhite;
	border-radius: var(--target-radius);
}

#target .header {
	margin-top: calc(0px - var(--target-radius));
	clip-path: path("M 32 0 H 360 V 55 H 0 V 32 A 32 32 0 0 0 32 0 Z");
	padding-top: 1em;
	border-top: 1px solid antiquewhite;
	padding-bottom: 4px;
	border-top-right-radius: 2px;
}

#target .profile {
	margin-top: -8px;
	border-bottom: 1px solid antiquewhite;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	min-height: 16px;
	font-family: var(--text-font-sans);
}

#target .header,
#target .profile {
	background-color: #1f3030;
	padding-left: 1em;
	padding-right: 1em;
	border-left: 1px solid antiquewhite;
	border-right: 1px solid antiquewhite;
}

#target .header :first-child {
	margin-left: 20px;
}

#target .header .error,
#target .header .loading {
	font-family: var(--text-font-mono);
}

#target .header .display-name {
	font-family: var(--text-font-sans);
	font-size: 16px;
}

#target .profile .handle {
	font-family: var(--text-font-sans);
	font-size: 14px;
}

#target .profile .description {
	font-family: var(--text-font-sans);
	font-size: 14px;
}

#target hr {
	border-color: #5f6769;
}

#panel {
	background-color: #1f3030;
	padding: 1em 1em 8em 1em;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;

	display: flex;
	align-items: center;
	justify-content: center;
}

a {
	color: #a1c2c2;
}

ul {
	list-style-type: square;
	padding-inline-start: 20px;
}

ul li {
	margin: 4px 0;
}

#status {
	background-color: rgb(5%, 5%, 5%);

	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;

	display: flex;
	align-items: center;
	justify-content: center;
}

#status > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#progress {
	margin: 0.5em;
	display: flex;
	justify-content: center;
}

#search {
	position: absolute;
	top: 8px;
	right: 8px;
	height: 24px;

	display: flex;
	gap: 8px;

	opacity: 0.5;

	height: 24px;
	background-color: #1f3030;
	border: 1px solid antiquewhite;
	border-radius: 13px;

	display: flex;
	align-items: center;
}

#search input {
	margin-top: 1px;
	font-family: "Courier Prime", monospace;
	font-weight: 400;
	font-style: normal;
	margin-left: 12px;

	color: antiquewhite;
	border: none;
	background-color: inherit;
}

#search:hover {
	opacity: 1;
}

#search input:focus {
	outline: none;
}

#search img {
	margin: 0 6px;
}

#feed-toggle {
	position: absolute;
	margin: 8px;
	padding: 8px;
	display: flex;
	background: rgb(137 154 148 / 0.6);
	border: 1px solid rgb(250 235 215 / 0.2);
	border-radius: 2px;
}

#feed-toggle:hover {
	cursor: pointer;
	background: rgb(137 154 148 / 0.9);
	border: 1px solid rgb(250 235 215 / 0.6);
}

#feed {
	z-index: 2;
	width: 320px;
	display: block;
	overflow-y: scroll;

	word-break: break-word;
	/* background-color: snow; */
	/* border-right: 1px solid #1f3030; */

	background-color: #1f3030;
	border-right: 1px solid #536471;
}

.post {
	/* border: 1px solid #e1e8ed; */
	/* border-radius: 12px; */
	padding: 6px;
	display: flex;
	flex-direction: column;
	gap: 6px;

	border-bottom: 1px solid #536471;
	color: initial;
	font-family: var(--text-font-sans);
}

.post-header {
	display: flex;
	align-items: start;
	justify-content: space-between;
	/* margin-bottom: 8px; */
}

.post-header a {
	text-decoration: none;
	color: antiquewhite;
	display: flex;
	align-items: center;
}

.post-header svg {
	color: #536471;
}

.avatar {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	margin-right: 8px;
}

.display-name {
	font-weight: bold;
	font-size: 14px;
}

.handle {
	color: #969ca1;
	font-size: 14px;
}

.post-text {
	color: antiquewhite;
	font-size: 14px;
	line-height: 1.2;
}

.post-date {
	margin-top: 4px;
	margin-bottom: 4px;
	color: #536471;
	font-size: 12px;
}
